<div class="center">
    <ul>
        <%= link_to image_tag("Logo.png", :alt => "SIMPLE!") %>
    </ul>
    <ul>
        <%= link_to "Meal Options", "#", :class => "btn btn-large btn-primary" %>
    </ul>
    <ul>
    <%= link_to "Schedule", "#", :class => "btn btn-large btn-primary" %>
    </ul>
    <ul>
    <%= link_to "Shopping Runs", "#", :class => "btn btn-large btn-primary" %>
    </ul>
</div>
