<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="center">
    <%= form_for(:session, :url => sessions_path) do |f| %>

        <ul>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </ul> 
        <ul>
            <%= f.submit "Sign in", :class => "btn btn-large btn-primary" %>
        </ul>
    <% end %>
</div>
