<h1>Submit Shopping Run</h1>

<p>Please fill out how much you paid for the shopping run, as well as the final day you carried out the shopping run. <b>Remember to save your receipts for approval for reimbursement! =)</b></p>

<%= render 'form' %>
