<% provide(:title, "Cook") %>

<h1>Cook <%= @meal_event.meal.name %></h1>

<p>Please edit the appropriate information about the meal you plan to cook. The current meal schedule is shown below for your convenience.</p>

<%= render 'edit_form' %>

<%= render 'static_pages/calendar' %>
